<template>
  <div id="app">
    <navbar />
    <router-view />
  </div>
</template>

<script>
import navbar from './components/navbar.vue';

export default {
  components: {
    navbar,
  },
  beforeCreate() {
    this.$store.dispatch('products/find', {});
    this.$store.dispatch('csurf/getCsrf');
  },
};
</script>

<style lang="scss">
*{
  box-sizing: border-box
}
a{
  color: #333;
  text-decoration: none;
}
.animate-link{
  transition: 0.5s;
}
.animate-link:hover{
  transform: scale(1.2, 1.2)
}
body{
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
