<template>
  <div class="home">
    <div class="container">
      <product
        v-for="(p, key) in products"
        :key="key"
        :product="p"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import product from '../components/product.vue';

export default {
  name: 'Home',
  components: {
    product,
  },
  computed: {
    ...mapGetters({
      products: 'products/list',
    }),
  },
};
</script>

<style lang="scss" scoped>
.container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 100px;
}
</style>
