<template>
  <div class="container">
    <h1>Logging through OAuth...</h1>
  </div>
</template>

<script>
export default {
  async mounted() {
    let token = this.$route.hash;
    // eslint-disable-next-line no-extra-boolean-cast
    if (!!token) {
      await this.$store.dispatch('auth/logout');
      // eslint-disable-next-line prefer-destructuring
      token = token.split('=')[1];
      localStorage.setItem('feathers-jwt', token);
      await this.$store.dispatch('auth/authenticate');
      this.$router.push('/panel');
    } else {
      this.$router.push('/signin');
    }
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
</style>
