<template>
  <div class="container">
    <div class="signup-panel">
      <h2>Create an account</h2>
      <form>
        <label for="login">
          Login:
        </label>
        <input
          id="login"
          v-model="login"
          type="text"
          name="login"
          :class="{ error: logEmpty || logPat || used}"
        >
        <emptyField :show="logEmpty" />
        <patternMismatch
          :show="logPat"
          :min="5"
          :max="12"
        />
        <span
          v-show="used"
          class="err"
        >
          This username is already taken!
        </span>
        <label for="email">
          Email:
        </label>
        <input
          id="email"
          v-model="email"
          type="email"
          name="email"
          :class="{ error: emailEmpty || emailPat || usedEmail}"
        >
        <emptyField :show="emailEmpty" />
        <span
          v-show="emailPat"
          class="err"
        >
          Input a valid email
        </span>
        <span
          v-show="usedEmail"
          class="err"
        >
          This email is already taken!
        </span>
        <label for="password">
          Password:
        </label>
        <input
          id="password"
          v-model="pass"
          type="password"
          name="password"
          :class="{ error: passEmpty || passPat || match}"
        >
        <label for="cPass">
          Confirm password:
        </label>
        <input
          id="cPass"
          v-model="cPass"
          type="password"
          name="cPass"
          :class="{ error: passEmpty || passPat || match}"
        >
        <emptyField :show="passEmpty" />
        <patternMismatch
          :show="passPat"
          :min="8"
          :max="16"
          :special="true"
          :num="true"
        />
        <span
          v-show="match"
          class="err"
        >
          Passwords do not match
        </span>
        <span
          v-show="added"
          class="added"
        >
          You have successfully registered!
        </span>
        <button
          type="submit"
          class="submit"
          @click.prevent="loginReg"
        >
          Sign Up!
        </button>
      </form>
      <a
        class="github"
        href="http://localhost:3030/oauth/github">
        <font-awesome-icon :icon="['fab','github']" />
        Register via Github
      </a>
      <p class="loginText">
        If you have an account <router-link
          to="/signin"
          class="color-link"
        >
          log in!
        </router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TestInput from '../plugins/signupReg';
import EmptyField from '../components/EmptyField.vue';
import patternMismatch from '../components/patternMismatch.vue';
import FindTrue from '../mixins/FindTrue';

export default {
  components: {
    EmptyField,
    patternMismatch,
  },
  data() {
    return {
      login: '',
      email: '',
      pass: '',
      cPass: '',
      logEmpty: false,
      passEmpty: false,
      used: false,
      emailEmpty: false,
      emailPat: false,
      usedEmail: false,
      match: false,
      logPat: false,
      passPat: false,
      added: false,
    };
  },
  computed: {
    csrfToken() {
      return this.$store.state.csrfToken;
    },
    ...mapGetters({
      taken: 'logins/list',
    }),
  },
  beforeCreate() {
    this.$store.dispatch('logins/find', {});
  },
  methods: {
    // Submit an account to database
    async submit() {
      const userData = {
        email: 'addEmail@register.com',
        login: this.login,
        password: this.pass,
      };
      const res = await this.$store.dispatch('api/users/create', userData);
      // eslint-disable-next-line no-extra-boolean-cast
      if (!!res) {
        this.$router.push('/signin');
      }
    },
    async loginReg() {
      // Validating login
      const dataLogin = TestInput.testLogin(this.login);

      // check if username is taken
      dataLogin.notFree = false;
      this.taken.forEach((el) => {
        if (el.login === this.login) {
          dataLogin.notFree = true;
        }
      });

      this.logEmpty = dataLogin.empty;
      this.used = dataLogin.notFree;
      this.logPat = dataLogin.pattern;

      // Validating email
      const dataEmail = TestInput.testEmail(this.email);

      dataEmail.notFree = false;
      this.taken.forEach((el) => {
        if (el.email === this.email) {
          dataEmail.notFree = true;
        }
      });

      this.emailEmpty = dataEmail.empty;
      this.emailPat = dataEmail.pattern;
      this.usedEmail = dataEmail.notFree;

      // Validating password
      const dataPass = TestInput.confirmPass(this.pass);

      // check if passwords are equal
      if (this.cPass !== this.pass) dataPass.confirm = true;

      this.passEmpty = dataPass.empty;
      this.match = dataPass.confirm;
      this.passPat = dataPass.pattern;

      // check for errors
      const errLog = Object.values(dataLogin);
      const errEmail = Object.values(dataEmail);
      const errPas = Object.values(dataPass);

      const send = !FindTrue(errLog, errPas, errEmail);

      if (send) {
        this.submit();
      } else {
        this.added = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .signup-panel{
    width: 25vw;
    min-height: 200px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: #ddd;
      padding: 20px;

    form{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .error{
        border: 1px solid red;
      }

      .added{
        color: green;
        width: 100%;
        font-weight: 700;
        margin: 7px 0;
      }

      label{
        width: 50%;
        text-align: right;
        font-size: 1.5rem;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }

      input{
        width: 50%;
        text-align: left;
        border-radius: 10px;
        border-style: none;
        padding: 5px;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      input:focus{
        outline: none;
      }

      .submit {
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 10px;
        border-style: none;
        border: 1px solid green;
        background-color: lightgreen;
        cursor: pointer;
        transition: 0.5s;
      }

      .submit:hover{
        filter: brightness(90%)
      }
    }

    .loginText{
      font-size: 1.2rem;
    }
  }
}
</style>

<style lang="scss">
.color-link{
  color: darkblue;
  font-weight: 700;
}

.color-link:hover{
  filter: brightness(160%)
}

.err{
  color: red;
  margin: 5px 0;
  font-weight: 600;
  width: 100%;
}

.github {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: #000;
  color: #fff;
  padding: 7px;
  width: 230px;
  border-radius: 20px;
  border: 1px solid #000;
  transition: 0.5s;

  svg{
    margin-right: 10px;
    font-size: 30px;
  }
}

.github:hover {
  transform: scale(1.1);
  color: #000;
  background-color: #ddd;
}
</style>
