<template>
  <div class="container">
    <div class="signup-panel">
      <h2>Log into account</h2>
      <form>
        <label for="login">
          Login:
        </label>
        <input
          id="login"
          v-model="login"
          type="text"
          name="login"
          :class="{error : emptyLog || wrongData}"
        >
        <EmptyField :show="emptyLog" />
        <label for="password">
          Password:
        </label>
        <input
          id="password"
          v-model="pass"
          type="password"
          name="password"
          :class="{error : emptyPas || wrongData}"
        >
        <emptyField
          :show="emptyPas"
        />
        <span
          v-show="wrongData"
          class="err"
        >
          Wrong password or login!
        </span>
        <button
          type="submit"
          class="submit"
          @click.prevent="loginReg"
        >
          Sign In!
        </button>
      </form>
      <a
        class="github"
        href="http://localhost:3030/oauth/github">
        <font-awesome-icon :icon="['fab','github']" />
        Sigin via Github
      </a>
      <p class="loginText">
        If you don't have an account
        <router-link
          to="/register"
          class="color-link"
        >
          sign up!
        </router-link>
      </p>
    </div>
  </div>
</template>

<script>
import TestInput from '../plugins/signupReg';
import FindTrue from '../mixins/FindTrue';
import EmptyField from '../components/EmptyField.vue';

export default {
  components: {
    EmptyField,
  },
  data() {
    return {
      login: '',
      pass: '',
      emptyLog: false,
      emptyPas: false,
      wrongData: false,
    };
  },
  computed: {
    csrfToken() {
      return this.$store.state.csrfToken;
    },
  },
  methods: {
    async users(userData) {
      // Getting users data and setting session/vuex
      // eslint-disable-next-line no-param-reassign
      userData.strategy = 'local';
      try {
        await this.$store.dispatch('auth/authenticate', userData);

        this.emptyLog = false;
        this.emptyPas = false;
        this.wrongData = false;

        return true;
      } catch (err) {
        this.wrongData = true;
        return false;
      }
    },
    async loginReg() {
      // input validation
      // Login validation
      const dataLogin = TestInput.testLogin(this.login);
      this.emptyLog = dataLogin.empty;

      // Password validation
      const dataPass = TestInput.confirmPass(this.pass);
      this.emptyPas = dataPass.empty;

      if (dataPass.pattern + dataLogin.pattern > 0) {
        this.wrongData = true;
      }

      // check for errors
      const errLog = Object.values(dataLogin);
      const errPas = Object.values(dataPass);

      const send = !FindTrue(errLog, errPas);

      if (send) {
        const userData = {
          login: this.login,
          password: this.pass,
        };
        const account = await this.users(userData);
        if (account) {
          this.$router.push('/panel');
        } else {
          this.wrongData = true;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .signup-panel{
    width: 25vw;
    min-height: 200px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: #ddd;
      padding: 20px;

    form{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .error{
        border: 1px solid red;
      }

      label{
        width: 50%;
        text-align: right;
        font-size: 1.5rem;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }

      input{
        width: 50%;
        text-align: left;
        border-radius: 10px;
        border-style: none;
        padding: 5px;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      input:focus{
        outline: none;
      }

      .submit {
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 10px;
        border-style: none;
        border: 1px solid green;
        background-color: lightgreen;
        cursor: pointer;
        transition: 0.5s;
      }

      .submit:hover{
        filter: brightness(90%)
      }
    }

    .loginText{
      font-size: 1.2rem;
    }
  }
}
</style>

<style lang="scss">
.color-link{
  color: darkblue;
  font-weight: 700;
}

.color-link:hover{
  filter: brightness(160%)
}
</style>
