<template>
  <div class="container">
    <div class="box">
      <h1> USER PANEL</h1>
      <h3>Witaj {{ user ? user.login : "" }}!</h3>

      <button @click.prevent="logOut()">
        Log out
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'UserPanel',
  computed: {
    ...mapGetters({
      user: 'auth/user',
    }),
  },
  methods: {
    async logOut() {
      await this.$store.dispatch('auth/logout');
      this.$router.push('/signin');
    },
  },
};
</script>

<style lang="scss" scoped>
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .box{
    width: 500px;
    min-height: 200px;
    box-shadow: 0px 0px 49px -15px rgba(0,0,0,0.75);
    border-radius: 20px;
  }
}
</style>
