<template>
  <div v-show="show">
    <p>This field cannot be empty</p>
  </div>
</template>

<script>
export default {
  name: 'EmptyField',
  props: {
    show: Boolean,
  },
};
</script>

<style lang="scss" scoped>
div{
  width: 100%;
  p{
    color: red;
    margin: 7px 0;
    font-weight: 600;
  }
}
</style>
