<template>
  <header class="navbar">
    <div class="content">
      <div class="home">
        <div class="home-wrapper">
          <router-link to="/">
            <font-awesome-icon
              icon="home"
              class="animate-link"
            />
          </router-link>
        </div>
      </div>
      <div class="brand">
        <h1>GAMERS SHOP</h1>
      </div>
      <div class="options">
        <div
          v-show="login"
          class="option-holder"
        >
          <router-link to="/">
            <font-awesome-icon
              icon="shopping-cart"
              class="animate-link"
            />
          </router-link>
        </div>
        <div class="option-holder">
          <router-link to="/register">
            <font-awesome-icon
              icon="user"
              class="animate-link"
            />
          </router-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Navbar',
  computed: {
    login() {
      // check if user is logged
      // eslint-disable-next-line no-prototype-builtins
      return this.$store.state.loggedIn;
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar{
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #3333;
  background-color: #fff;
  position: fixed;

  .content{
    position: relative;

    .home{
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.6rem;
    }

    .options{
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 2rem;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.6rem;

      .option-holder{
        padding: 0 10px;
      }
    }
  }
}
</style>
