<template>
  <div v-show="show">
    <p>
      You should input a string between {{ min }} and {{ max }} characters.
      <span v-show="!special">Special characters are not allowed.</span>
      <span v-show="big">String needs to contain big characters.</span>
      <span v-show="num">String needs to contain a number.</span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'PatternMismatch',
  props: {
    show: Boolean,
    min: {
      type: Number,
      default: 5,
    },
    max: {
      type: Number,
      default: 12,
    },
    special: Boolean,
    big: Boolean,
    num: Boolean,
  },
};
</script>

<style lang="scss" scoped>
div {
  width: 100%;
  p{
    color: red;
    margin: 7px 0;
    font-weight: 600;
  }
}
</style>
