<template>
  <div class="product">
    <div class="product-image">
      <img
        :src="product.imagePath"
        :alt="product.name"
      >
    </div>
    <div class="product-data">
      <div class="name">
        <h3> {{ product.name }} </h3>
      </div>
      <div class="description">
        <p>
          {{ product.description }}
        </p>
      </div>
      <div class="prize">
        <p>
          {{ product.prize }}$ || in stock: {{ product.inStock }}
        </p>
      </div>
    </div>
    <button
      :disabled="!login"
    >
      Add to cart
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Product',
  props: {
    product: Object,
  },
  computed: {
    ...mapGetters({
      login: 'auth/isAuthenticated',
    }),
  },
};
</script>

<style lang="scss" scoped>
.product{
  display: flex;
  width: 33.33%;
  flex-direction: column;
  padding: 1.5rem;

  .product-image{
    width: 100%;
    overflow: hidden;
    max-height: 200px;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: auto;
      height: 100%;
      max-height: 87%
    }
  }

  .product-data{
    padding: 0 20px;
  }

  button{
    font-size: 1rem;
    padding: 5px;
    margin: 0 auto
  }
}
</style>
